$purple: #8a4d76;

.container {
  width: 270px;
  height: 444px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
  border-collapse: separate;
  position: relative;
  display: block;
  color: rgb(74, 74, 74);

  &::after {
    display: block;
    position: relative;
    top: 28px;
    content: "";
    height: 1px;
    width: 100%;
    background: rgb(238, 238, 238);
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 1px,
      rgba(0, 0, 0, 0.16) 0px 2px 4px 0px;
    border-color: rgb(238, 238, 238);
    z-index: 1;

    .cart-button {
      opacity: 1 !important;
    }
  }

  .top {
    .image {
      height: 200px;
      img {
        margin: 0 auto;
        width: auto;
        height: 100%;
      }
    }
  }

  .bottom {
    .name {
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      width: 228px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    .description {
      margin: 10px 0;
    }

    .price {
      display: inline-block;
      font-weight: bold;
      font-size: 30px;
      height: 44px;
      line-height: 44px;
    }

    .cart-button {
      opacity: 0;
      width: 44px;
      height: 44px;
      border-color: $purple;
      transition: color 0.2s, background 0.2s, opacity 0.2s;

      @media (max-width: 1024px) {
        opacity: 1;
      }

      &:hover {
        color: white;
        background: $purple;
      }
    }

    .in-cart {
      color: white;
      background: $purple;
    }

    .not-in-cart {
      background: white;
      color: $purple;
    }

    .admin-panel {
      display: flex;
      position: absolute;

      .admin-button {
        font-size: 20px;
      }

      .edit:hover {
        color: hsl(141, 53%, 53%);
      }

      .trash {
        margin-left: 10px;

        &:hover {
          color: hsl(348, 100%, 61%);
        }
      }
    }
  }
}
