.container {
  margin-top: 50px;

  @media (max-width: 1024px) {
    margin-top: 0;
    border-radius: 0;
    height: 100%;
    overflow: auto;
  }

  .title {
    margin-bottom: 20px;
  }

  .details {
    font-size: 22px;
  }

  .input {
    margin: 20px 0;
    width: 50%;
    display: block;

    @media (max-width: 720px) {
      width: 100%;
      margin: 15px 0;
    }
  }

  .inline-input {
    display: inline-block;
    margin-top: 0;

    @media (max-width: 720px) {
      display: block;
    }
  }

  .total {
    font-size: 24px;
    font-weight: bold;
  }

  .total-big {
    float: right;

    @media (max-width: 720px) {
      display: none;
    }
  }

  .total-small {
    margin-bottom: 20px;

    @media (min-width: 721px) {
      display: none;
    }
  }

  .button {
    float: right;
    width: 150px;
    font-weight: bold;

    @media (max-width: 720px) {
      float: unset;
    }
  }

  .error {
    font-size: 18px;
    margin-bottom: 10px;

    @media (max-width: 340px) {
      font-size: 16px;
    }
  }

  .error-small {
    @media (min-width: 721px) {
      display: none;
    }
  }

  .error-big {
    @media (max-width: 720px) {
      display: none;
    }
  }
}

.message-container {
  @media (max-width: 1024px) {
    height: 100vh;
  }

  .success-message {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
}
