<div class="centered-content">
  <div class="white-box">
    <app-form-header text="Reset password"></app-form-header>

    <app-display-message
      *ngIf="displayErrorMessage"
      text="Something went wrong. Please try again later"
    ></app-display-message>
    <app-display-message
      *ngIf="displaySuccessMessage"
      text="Password changed! You will be redirected to log in page in {{
        secondsLeft
      }} seconds..."
      isSuccess="true"
    ></app-display-message>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <app-user-auth-control
        [formGroup]="resetForm"
        controlName="password"
        type="password"
        placeholder="New password"
      ></app-user-auth-control>

      <app-user-auth-control
        [formGroup]="resetForm"
        controlName="confirmPassword"
        type="password"
        placeholder="Confirm new password"
      ></app-user-auth-control>

      <app-submit-button [formGroup]="resetForm"></app-submit-button>
    </form>
  </div>
</div>
