<div class="centered-content">
  <div class="white-box">
    <app-form-header text="Forgot password"></app-form-header>

    <app-display-message
      *ngIf="displayErrorMessage"
      text="Provided email address is invalid"
    ></app-display-message>

    <app-display-message
      *ngIf="displaySuccessMessage"
      isSuccess="true"
      text="Check your email to reset password"
    ></app-display-message>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <app-user-auth-control
        [formGroup]="forgotPasswordForm"
        controlName="email"
        type="email"
        placeholder="Email"
      ></app-user-auth-control>

      <app-submit-button [formGroup]="forgotPasswordForm"></app-submit-button>
    </form>
  </div>
</div>
