<div class="pagination-container">
  <button
    class="button is-rounded"
    (click)="previousPage()"
    [disabled]="currentPage === 1"
  >
    <i class="fas fa-arrow-left"></i>
  </button>
  <input
    type="number"
    class="input is-rounded"
    [value]="totalPages > 0 ? currentPage : 0"
    (change)="validatePageControl($event)"
    [disabled]="totalPages === 0"
  />
  <label class="has-text-grey">of {{ totalPages }}</label>
  <button
    class="button is-rounded"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages || totalPages === 0"
  >
    <i class="fas fa-arrow-right"></i>
  </button>
</div>
