.pagination-container {
  width: 200px;
  display: flex;
  justify-content: center;

  .button {
    width: 32px;
    height: 32px;
    padding: 6px 6px;
    margin: 0 8px;

    i {
      font-size: 12px;
    }
  }

  .input {
    width: 48px;
    height: 32px;
    padding: 6px;
    text-align: center;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  label {
    line-height: 32px;
    margin-left: 5px;
  }
}
