<div class="centered-content">
  <div class="white-box">
    <app-form-header text="Log in"></app-form-header>

    <app-display-message
      *ngIf="displayErrorMessage"
      text="Provided email address or password are invalid"
    ></app-display-message>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-user-auth-control
        [formGroup]="loginForm"
        controlName="email"
        type="email"
        placeholder="Email"
      ></app-user-auth-control>

      <app-user-auth-control
        [formGroup]="loginForm"
        controlName="password"
        type="password"
        placeholder="Password"
      ></app-user-auth-control>

      <app-submit-button [formGroup]="loginForm"></app-submit-button>

      <div class="checkbox-container">
        <label class="checkbox has-text-grey">
          <input formControlName="remember" type="checkbox" />
          Remember me
        </label>
      </div>
    </form>

    <app-form-info page="login"></app-form-info>
  </div>
</div>
